<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="appThemes">
			<section
				name="lightTheme"
				type="Personal_Expense_Tracker.Extension.ThemeColoursSection, Sledování výdajů"/>
			<section
				name="darkTheme"
				type="Personal_Expense_Tracker.Extension.ThemeColoursSection, Sledování výdajů"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="dark_mode" value="false"/>
	</appSettings>
	<appThemes>
		<lightTheme>
			<themeColours>
				<add key="primary_colour" name="PrimaryColour" displayName="Primární" colourCode="#19696a"/>
				<add key="on_primary_colour" name="OnPrimaryColour" displayName="Na primární" colourCode="#ffffff"/>
				<add key="primary_container_colour" name="PrimaryContainerColour" displayName="Primární kontejner" colourCode="#a8eff0"/>
				<add key="on_primary_container_colour" name="OnPrimaryContainerColour" displayName="Na primárním kontejneru" colourCode="#002021"/>
				<add key="surface_colour" name="SurfaceColour" displayName="Povrch" colourCode="#f5f5f5"/>
				<add key="on_surface_colour" name="OnSurfaceColour" displayName="Na povrchu" colourCode="#1c1c1c"/>
				<add key="surface_variant_colour" name="SurfaceVariantColour" displayName="Varianta porvchu" colourCode="#e1e1e1"/>
				<add key="on_surface_variant_colour" name="OnSurfaceVariantColour" displayName="Na variantě povrchu" colourCode="#3e3e3e"/>
				<add key="error_colour" name="ErrorColour" displayName="Chyba" colourCode="#b3261e"/>
				<add key="on_error_colour" name="OnErrorColour" displayName="Na chybě" colourCode="#ffffff"/>
				<add key="info_container_colour" name="InfoContainerColour" displayName="Info kontejner" colourCode="#b7f397"/>
				<add key="on_info_container_colour" name="OnInfoContainerColour" displayName="Na info kontejneru" colourCode="#042100"/>
				<add key="warning_container_colour" name="WarningContainerColour" displayName="Varovný kontejner" colourCode="#e7e970"/>
				<add key="on_warning_container_colour" name="OnWarningContainerColour" displayName="Na varovném kontejneru" colourCode="#616200"/>
				<add key="error_container_colour" name="ErrorContainerColour" displayName="Chybový kontejner" colourCode="#f9dedc"/>
				<add key="on_error_container_colour" name="OnErrorContainerColour" displayName="Na chybovém kontejneru" colourCode="#410e0b"/>
				<add key="outline_colour" name="OutlineColour" displayName="Ohraničení" colourCode="#727272"/>
				<add key="shadow_colour" name="ShadowColour" displayName="Stín" colourCode="#000000"/>
			</themeColours>
		</lightTheme>
		<darkTheme>
			<themeColours>
				<add key="primary_colour_dark" name="PrimaryColour" displayName="Primární" colourCode="#8cd3d4"/>
				<add key="on_primary_colour_dark" name="OnPrimaryColour" displayName="Na primární" colourCode="#003738"/>
				<add key="primary_container_colour_dark" name="PrimaryContainerColour" displayName="Primární kontejner" colourCode="#004f51"/>
				<add key="on_primary_container_colour_dark" name="OnPrimaryContainerColour" displayName="Na primárním kontejneru" colourCode="#a8eff0"/>
				<add key="surface_colour_dark" name="SurfaceColour" displayName="Povrch" colourCode="#272830"/>
				<add key="on_surface_colour_dark" name="OnSurfaceColour" displayName="Na povrchu" colourCode="#e6e1e5"/>
				<add key="surface_variant_colour_dark" name="SurfaceVariantColour" displayName="Varianta porvchu" colourCode="#1e1e26"/>
				<add key="on_surface_variant_colour_dark" name="OnSurfaceVariantColour" displayName="Na variantě povrchu" colourCode="#cac4cf"/>
				<add key="error_colour_dark" name="ErrorColour" displayName="Chyba" colourCode="#f2b8b5"/>
				<add key="on_error_colour_dark" name="OnErrorColour" displayName="Na chybě" colourCode="#601410"/>
				<add key="info_container_colour_dark" name="InfoContainerColour" displayName="Info kontejner" colourCode="#2c4334"/>
				<add key="on_info_container_colour_dark" name="OnInfoContainerColour" displayName="Na info kontejneru" colourCode="#75e5b0"/>
				<add key="warning_container_colour_dark" name="WarningContainerColour" displayName="Varovný kontejner" colourCode="#3f3831"/>
				<add key="on_warning_container_colour_dark" name="OnWarningContainerColour" displayName="Na varovném kontejneru" colourCode="#e1ad70"/>
				<add key="error_container_colour_dark" name="ErrorContainerColour" displayName="Chybový kontejner" colourCode="#3a1f23"/>
				<add key="on_error_container_colour_dark" name="OnErrorContainerColour" displayName="Na chybovém kontejneru" colourCode="#e2a4ab"/>
				<add key="outline_colour_dark" name="OutlineColour" displayName="Ohraničení" colourCode="#948f99"/>
				<add key="shadow_colour_dark" name="ShadowColour" displayName="Stín" colourCode="#000000"/>
			</themeColours>
		</darkTheme>
	</appThemes>
</configuration>